.wIvbogh {
    background-color: #f00;
}

.wIvbogh:hover {
    background-color: #f00 !important;
}

ul#chabal_tetlh li {
    clear: both;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
}

.chabal {
    flex-grow: 1;
    text-decoration: none;
}

.chabal > a:hover {
    background-color: #ddd;
}

.chabal > a {
    display: block;
    width: 100%;
    height: 100%;
}

ul#chabal_tetlh button {
    display: block;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 1px;
}

.lel, .ngaQmoH, .ngaQHazmoH, .QInHomtogh {
    float: right;
}

.QInHomtogh {
    float: right;
    display: block;
    width: 100px !important;
    height: 28px;
    padding: 0;
    margin: 1px;
}

.wIv {
    text-align: center;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
}

ul#chabal_tetlh .leQmey {
    display: flex;
    flex-direction: row;
}

.mIz_toghbogh {
    font-size: 120%;
    clear: both;
}

.gherzID_naQ {
    font-size: 80%;
}

.muz {
    font-size: 120%;
}

.muz_Segh {
    font-size: 60%;
}

.QIjmeH_per {
    font-size: 80%;
}

ul#chabal_tetlh_chIjmeH_tetlh {
    list-style-type: none;
}

ul#chabal_tetlh_chIjmeH_tetlh > li {
    float: left;
    padding: .5em;
    margin: 1em;
    margin-left: 0;
    border-bottom: 1px solid black;
}

ul#chabal_tetlh_chIjmeH_tetlh > li:hover {
    background-color: #ccc;
}

.lajQozluzpuz {
    background-color: #666;
}

.error {
    color: red;
}
